<mat-toolbar class="mt-header">
  <h3 class="mt-header__title">
    <mat-icon>sports_bar</mat-icon>
    <span>brew</span>
  </h3>

  <span class="mt-header__spacer"></span>

  <a mat-button routerLink="/">Головна</a>
  <a mat-button routerLink="/catalog">Каталог</a>
  <a mat-button routerLink="/random">Випадкове пиво</a>

  <span class="mt-header__spacer"></span>

  <a mat-icon-button href="https://github.com/Almost-Infinity/master-thesis" target="_blank" rel="noreferrer">
    <img src="../../../assets/images/github-circle-black-transparent.svg" alt="github repository">
  </a>
</mat-toolbar>
