<mat-toolbar class="mt-toolbar">
  <h3 class="app-name">
    <mat-icon class="app-name__icon">sports_bar</mat-icon>
    <span class="app-name__title">brew</span>
  </h3>

  <span class="mt-toolbar__spacer"></span>

  <a mat-button routerLink="/catalog">Каталог</a>
  <a mat-button routerLink="/random">Випадкове пиво</a>

  <span class="mt-toolbar__spacer"></span>

  <a mat-icon-button href="https://github.com/Almost-Infinity/master-thesis" target="_blank" rel="noreferrer">
    <img src="../assets/images/github-circle-black-transparent.svg" alt="github repository">
  </a>
</mat-toolbar>

<div class="layout">
  <router-outlet></router-outlet>
</div>
