@import 'ag-grid-community/styles/ag-grid.css';
@import "ag-grid-community/styles/ag-theme-material.min.css";

.catalog-toolbar {
  display: flex;
  align-items: center;

  &__section {
    display: flex;
    gap: 16px;
  }

  &__spacer {
    flex: 1 1 auto;
  }
}
