<div class="catalog-toolbar">
  <div class="catalog-toolbar__section">
    <button mat-stroked-button color="primary" (click)="isFilterPanelOpen = !isFilterPanelOpen">
      <mat-icon>tune</mat-icon>
      Фільтри
    </button>

    <button mat-stroked-button #sortingOverlayOrigin>
      <mat-icon>expand_more</mat-icon>
      Сортування
    </button>

    <input class="mt-input" type="text" placeholder="Глобальний пошук..." style="width: 333px;">
  </div>

  <div class="catalog-toolbar__spacer"></div>
</div>

<mt-list-view [data]="data"></mt-list-view>

<!-- Filters overlay -->
<mt-filters-panel [(open)]="isFilterPanelOpen" (filterChange)="fetchBeer($event)"></mt-filters-panel>

<!-- Sorting dropdown overlay -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="sortingOverlayOrigin._elementRef"
  [cdkConnectedOverlayOpen]="true"
>
  <!--<mat-select>
    <mat-select-trigger></mat-select-trigger>
    <mat-option>123</mat-option>
    <mat-option>12333</mat-option>
  </mat-select>-->
</ng-template>
