/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.mt-input {
  --mt-input-container-height: 36px;
  --mt-input-container-shape: 4px;
  --mt-input-outline-color: rgba(0 0 0 / 12%);
  --mt-input-value-color: #000;
  --mt-input-placeholder-color: #aaa;

  color: var(--mt-input-value-color);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: var(--mt-input-font-size);
  text-indent: 8px;
  height: var(--mt-input-container-height);
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--mt-input-outline-color);
  border-radius: var(--mt-input-container-shape);
  box-sizing: border-box;

  &::placeholder {
    color: var(--mt-input-placeholder-color);
  }
}
